.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  box-sizing: border-box;
  color: #ffffff;


  background:
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 25%),
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 27%),
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 30%),
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 35%),
    radial-gradient(circle at 95% 15%, #433f8c 0%, transparent 15%),
    radial-gradient(circle at 95% 15%, #433f8c 0%, transparent 20%),
    #111111;
}

.title {
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 48px 0;
  text-align: center;
  width: 100%;

  
}

.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.profileContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: left; 
}

.profileItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 8px;
  font-weight: 500;
}

.value {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 8px 0;
}

.button {
  margin-top: 200px; 
  height: 54px;
  width: 200px;
  border: none;
  border-radius: 16px;
  background: #60c2ff;
  color: #0b0b0b;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background: #5bbcff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(96, 194, 255, 0.3);
}

.button:active {
  transform: translateY(0);
}
