* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, sans-serif;
}

.pageWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background:
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 25%),
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 27%),
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 30%),
    radial-gradient(circle at 15% 87%, #433f8c 0%, transparent 35%),
    radial-gradient(circle at 95% 15%, #433f8c 0%, transparent 15%),
    radial-gradient(circle at 95% 15%, #433f8c 0%, transparent 20%), #111111;
}

.formContainer {
  width: 100%;
  max-width: 600px;
  padding: 40px 32px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.9;
  margin-bottom: 17px;
}

.input {
  height: 52px;
  padding: 0 18px;

  background: transparent;
  border-radius: 14px;
  border: 1px solid #ffffff;

  color: #ffffff;
  font-size: 15px;
  outline: none;

  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.input:focus {
  border-color: #6cc6ff;
  box-shadow: 0 0 0 2px rgba(108, 198, 255, 0.25);
}

.inputError {
  border-color: #ff6b6b;
}

.errorMessage {
  font-size: 12px;
  color: #ff6b6b;
  margin-top: 4px;
}

.button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 54px;
  width: 200px;
  border: none;
  border-radius: 16px;
  background: #60c2ff;
  color: #0b0b0b;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover:not(:disabled) {
  background: #5bbcff;
}

.button:active:not(:disabled) {
  transform: translateY(1px);
}

.buttonDisabled {
  background: #9bbcd1;
  cursor: not-allowed;
}
